* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  list-style: none;
}

:root {
  color-scheme: light dark;

  --primary: light-dark(oklch(0.65 0.15 264), oklch(0.9 0.17 100));

  --bg-dark: light-dark(oklch(0.92 0 264), oklch(0.1 0 264));
  --bg: light-dark(oklch(0.96 0 264), oklch(0.2 0 264));
  --bg-light: light-dark(oklch(1 0 264), oklch(0.3 0 264));

  --content: light-dark(oklch(0.15 0 264), oklch(0.96 0 264));
  --content-muted: light-dark(oklch(0.4 0 264), oklch(0.76 0 264));

  --font-xs: 0.75rem;
  --font-s: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.5rem;
}

body {
  /* Centers all the content */
  margin: 0 auto;
  max-width: 900px;
  width: 100%;

  background-color: var(--bg-dark);
  color: var(--content-muted);
}

/* Theme Switch */
@media (prefers-color-scheme: light) {
  .sun-icon {
    display: none;
  }

  .moon-icon {
    display: block;
  }

  html:has(#theme-switch:checked) {
    color-scheme: dark;

    .sun-icon {
      display: block;
    }

    .moon-icon {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .sun-icon {
    display: block;
  }

  .moon-icon {
    display: none;
  }

  html:has(#theme-switch:checked) {
    color-scheme: light;

    .sun-icon {
      display: none;
    }

    .moon-icon {
      display: block;
    }
  }
}
